<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/test.css">
    <script src="/js/test.js"></script>
    <title>Sign Form</title>
</head>
<body>
  <!-- <div style="height: 70px;"></div> -->
        <form action="/signup" id="form" method="POST">
          <div class="container" style="margin-top: 100px; margin-bottom: 120px;">
            <h1 style="color: white;">Sign Up</h1>
        
            <input style="color: white;" type="text" placeholder="Enter Name" name="uname" required id="name">
            <input style="color: white;" type="text" placeholder="Enter Email" name="email" required id="email">
            <input style="color: white;" type="text" placeholder="Enter Phone No" name="phno" required id="phno">
            <input style="color: white;" type="password" placeholder="Enter Password" name="password" required id="pass">
            <div style="display:flex; flex-direction: row;">
              <input style="width: 15px; height: 15px;" type="checkbox" name="isAdmin" />
              <label style="color:white; margin-left: 10px; margin-top: -8px; font-size: 20px;">Admin</label>
            </div>
            <button type="submit" class="signupbtn" id="s-btn">Sign Up</button>
          </div>
        </form>
</body>
</html>